<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.core.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.shopping.core.entity.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="GENDER" jdbcType="INTEGER" property="gender" />
    <result column="NET_NAME" jdbcType="VARCHAR" property="netName" />
    <result column="IMAGE_URL" jdbcType="VARCHAR" property="imageUrl" />
    <result column="SIGNATURE" jdbcType="VARCHAR" property="signature" />
    <result column="TRUE_NAME" jdbcType="VARCHAR" property="trueName" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="ID_CARD_FRONT" jdbcType="VARCHAR" property="idCardFront" />
    <result column="ID_CARD_BACK" jdbcType="VARCHAR" property="idCardBack" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_USER_NAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER_ID" jdbcType="INTEGER" property="updateUserId" />
    <result column="UPDATE_USER_NAME" jdbcType="VARCHAR" property="updateUserName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NAME, PASSWORD, GENDER, NET_NAME, IMAGE_URL, SIGNATURE, TRUE_NAME, ID_CARD, 
    ID_CARD_FRONT, ID_CARD_BACK, TEL, BALANCE, STATUS, CREATE_USER_ID, CREATE_USER_NAME, 
    CREATE_TIME, UPDATE_USER_ID, UPDATE_USER_NAME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.core.entity.User">
    insert into user (ID, USER_NAME, PASSWORD, 
      GENDER, NET_NAME, IMAGE_URL, 
      SIGNATURE, TRUE_NAME, ID_CARD, 
      ID_CARD_FRONT, ID_CARD_BACK, TEL, 
      BALANCE, STATUS, CREATE_USER_ID, 
      CREATE_USER_NAME, CREATE_TIME, UPDATE_USER_ID, 
      UPDATE_USER_NAME, UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{netName,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{idCardFront,jdbcType=VARCHAR}, #{idCardBack,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{balance,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, 
      #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, 
      #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.core.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="netName != null">
        NET_NAME,
      </if>
      <if test="imageUrl != null">
        IMAGE_URL,
      </if>
      <if test="signature != null">
        SIGNATURE,
      </if>
      <if test="trueName != null">
        TRUE_NAME,
      </if>
      <if test="idCard != null">
        ID_CARD,
      </if>
      <if test="idCardFront != null">
        ID_CARD_FRONT,
      </if>
      <if test="idCardBack != null">
        ID_CARD_BACK,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createUserName != null">
        CREATE_USER_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUserId != null">
        UPDATE_USER_ID,
      </if>
      <if test="updateUserName != null">
        UPDATE_USER_NAME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="netName != null">
        #{netName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null">
        #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.core.entity.User">
    update user
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=INTEGER},
      </if>
      <if test="netName != null">
        NET_NAME = #{netName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        SIGNATURE = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        TRUE_NAME = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        ID_CARD_FRONT = #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null">
        ID_CARD_BACK = #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        BALANCE = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        UPDATE_USER_ID = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null">
        UPDATE_USER_NAME = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.core.entity.User">
    update user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=INTEGER},
      NET_NAME = #{netName,jdbcType=VARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      SIGNATURE = #{signature,jdbcType=VARCHAR},
      TRUE_NAME = #{trueName,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      ID_CARD_FRONT = #{idCardFront,jdbcType=VARCHAR},
      ID_CARD_BACK = #{idCardBack,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      BALANCE = #{balance,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=INTEGER},
      UPDATE_USER_NAME = #{updateUserName,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include>
    FROM user
    WHERE user_name = #{username,jdbcType=VARCHAR}
  </select>
</mapper>